*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.testDiv{
    
    width: 100%;
    height: 800px;
    background-color: coral;
}
.containerTest{
    width:100%;
    height: 100%;
    background-color: blue;
}